#growl {
  position: absolute;
  bottom: 10px;
  right: 20px;
  overflow: hidden;
}

#growl .msg {
  border: 1px solid #171717;
  color: #E4E4E4;
  text-shadow: 0 -1px 1px #0A131A;

  font-weight: bold;
  width: 200px;
  min-height: 30px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;

  background: #141517;
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(rgba(255, 255, 255, 0.3)), 
    color-stop(0.8, rgba(255, 255, 255, 0))), 
    rgba(0, 0, 0, 0.8);

  box-shadow: inset 0 1px 1px #8E8E8E;
  -webkit-box-shadow: inset 0 1px 1px #8E8E8E;
  -moz-box-shadow: inset 0 1px 1px #8E8E8E;

  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
